<div class="text-center">
  <h1>Mensualidades</h1>

  <button mat-raised-button color="priamary" (click)="openDialog()">+</button>

  <br><br>

  <table class="table table-info">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Servicio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let month of lstMonthly; index as i">
        <td>{{ i + 1 }}</td>
        <td>MO{{ month.idMensualidad }}</td>
        <td>{{ month.nombreMensualidad }}</td>
        <td>$ {{ month.precioMensualidad }}</td>
        <td>{{ month.nombreServicio }}</td>
        <td>
          <button mat-raised-button color="primary">Editar</button>
          <br><br>
          <button mat-raised-button color="warn">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
