<div class="text-center">
  <h1>Streaming</h1>

  <button mat-raised-button color="priamary" (click)="openDialog()">+</button>

  <br><br>

  <table class="table table-parimary">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let svs of lstStreamings; index as i">
        <td>{{ i + 1 }}</td>
        <td>SVS{{ svs.idServicio }}</td>
        <td>{{ svs.nombreServicio }}</td>
        <td>$ {{ svs.precioServicio }}</td>
        <td>
          <button mat-raised-button color="primary" (click)="openEdit(svs)">Editar</button>
          <br><br>
          <button mat-raised-button color="warn" (click)="deleteStreaming(svs)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
