<div class="text-center">
  <mat-card>
    <mat-card-title>Identificate</mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field>
          <input type="text" [(ngModel)]="name" matInput placeholder="Asuario">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" [(ngModel)]="password" matInput placeholder="Contraseña">
        </mat-form-field>
      </p>

      <div>
        <button mat-raised-button color="accent" (click)="login()">Vamos</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
