<h1 mat-dialog-title>Agregar Usuario a Servicio de Streaming</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Servicio:</mat-label>
    <mat-select matInput [(ngModel)]="idstreaming">
      <mat-option *ngFor="let svs of lstServices" [value]="svs.idServicio">
        {{ svs.nombreServicio }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Usuario:</mat-label>
    <mat-select matInput [(ngModel)]="idusuario">
      <mat-option *ngFor="let usr of lstUsers" [value]="usr.idUsuario">
        {{ usr.nombresUsuario }} {{ usr.apellidoUsuario }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="addUsersService()">Guardar</button>
</div>
