<div class="text-center">
  <h1>Usuarios por Servicio</h1>

  <button mat-raised-button color="priamary" (click)="openDialog()">+</button>

  <br><br>

  <mat-form-field>
    <mat-label>Servicio:</mat-label>
    <mat-select matInput [(ngModel)]="idService">
      <mat-option *ngFor="let svs of lstServices" (click)="getUsersByService(svs.idServicio)">
        {{ svs.nombreServicio }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <table class="table table-secondary">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usr of lstUsersServices; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ usr.nombresUsuario }} {{ usr.apellidoUsuario }}</td>
        <td>
          <button mat-raised-button color="primary">Editar</button>
          <br><br>
          <button mat-raised-button color="warn">Eliminar</button>
        </td>
      </tr>
  </table>
</div>
