<h1 mat-dialog-title>Nuevo Usuario</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre:</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido:</mat-label>
    <input matInput [(ngModel)]="lastname">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Nacimiento:</mat-label>
    <input matInput [(ngModel)]="birthdate">
    YYYY-MM-DD
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tel:</mat-label>
    <input matInput [(ngModel)]="phone">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="addUser()">Guardar</button>
</div>
