<div class="text-center">
  <h1>Pagos</h1>

  <button mat-raised-button color="priamary" (click)="openDialog()">+</button>

  <br><br>

  <mat-form-field>
    <mat-label>Status:</mat-label>
    <mat-select matInput [(ngModel)]="idStatus">
      <mat-option *ngFor="let sts of lstStatus" (click)="getPayments(sts.idStatus)">
        {{ sts.nombreStatus }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <table class="table table-success">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Precio</th>
        <th>Status</th>
        <th>Mensualidad</th>
        <th>Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pay of lstPayments; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ pay.idPago }}</td>
        <td>$ {{ pay.precioPago }}</td>
        <td>{{ pay.nombreStatus }}</td>
        <td>{{ pay.nombreMensualidad }}</td>
        <td>{{ pay.nombresUsuario }} {{ pay.apellidoUsuario }}</td>
        <td>
          <button mat-raised-button color="primary" (click)="openEdit(pay)">Editar</button>
          <br><br>
          <button mat-raised-button color="warn" (click)="deletePayment(pay)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
