<h1 mat-dialog-title>{{ monthly != null ? 'Editar Mensualidad' : 'Nueva Mensualidad'}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre:</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Precio:</mat-label>
    <input matInput [(ngModel)]="price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Servicio:</mat-label>
    <mat-select matInput [(ngModel)]="idstreaming">
      <mat-option *ngFor="let svs of lstStreaming" [value]="svs.idServicio">
        {{ svs.nombreServicio }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary"
    (click)="monthly != null ? updateMonthly() : addMonthly()">Guardar</button>
</div>
