<div class="text-center">
  <h1>Usuarios</h1>

  <button mat-raised-button color="priamary" (click)="openDialog()">+</button>

  <br><br>

  <table class="table table-danger">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de Nacimiento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usr of lstUser; index as i">
        <td>{{ i + 1 }}</td>
        <td>USR{{ usr.idUsuario }}</td>
        <td>{{ usr.nombresUsuario }} {{ usr.apellidoUsuario }}</td>
        <td>{{ usr.fechaNacimientoUsuario }}</td>
        <td>
          <button mat-raised-button color="primary" (click)="openEdit(usr)">Editar</button>
          <br><br>
          <button mat-raised-button color="warn" (click)="deleteUser(usr)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
